<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Formulario de Sesión con Predicción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/953f80cad3.js" crossorigin="anonymous"></script>
    
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        footer {
            background-color: #f8f9fa;
            	
            width: 100%;
        }
    </style>
</head>

<body>
    <div th:insert="~{header :: header}"></div>
    <!-- Form -->
    <div class="container content" style="margin-top: 12%; margin-bottom: 9%;">
        <h2 class="my-4">Nueva sesión rápida</h2>
        <form th:object="${sesion}" th:action="@{/sesion/predecirYGuardar}" method="post">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" th:field="*{nombre}" required>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="fecha" class="form-label">Fecha de la Sesión:</label>
                    <input type="datetime-local" class="form-control" id="fecha" name="fecha" th:field="*{fecha}" required>
                </div>
            </div>
            <h3 class="my-4">¿Qué quieres entrenar?</h3>
            <div class="row mb-3" th:object="${predictionForm}">
                <div class="col-md-6 col-lg-3">
                    <label for="numJugadores" class="form-label">Número de Jugadores:</label>
                    <select id="numJugadores" th:field="*{numJugadores}" class="form-select" name="numJugadores" required>
                        <!-- Opciones de jugadores -->
                        <option th:each="i : ${#numbers.sequence(5, 30)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="contenidoFisico" class="form-label">Contenido Físico:</label>
                    <select id="contenidoFisico" th:field="*{contenidoFisico}" class="form-select" required>
                        <option value="Fuerza_Potencia">Fuerza y Potencia</option>
                        <option value="Resistencia">Resistencia</option>
                        <option value="Velocidad">Velocidad</option>
                        <option value="Integrado">Integrado</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="contenidoTecnico" class="form-label">Contenido Técnico:</label>
                    <select id="contenidoTecnico" th:field="*{contenidoTecnico}" class="form-select" required>
                        <option value="Conduccion">Conducción</option>
                        <option value="Acoso">Acoso</option>
                        <option value="Regate">Regate</option>
                        <option value="Cobertura">Cobertura</option>
                        <option value="Proteccion">Protección</option>
                        <option value="Rechaze">Rechace</option>
                        <option value="Control">Control</option>
                        <option value="Pase">Pase</option>
                        <option value="Apoyo">Apoyo</option>
                        <option value="Marcage">Marcaje</option>
                        <option value="Amplitud">Amplitud</option>
                        <option value="Profundidad">Profundidad</option>
                        <option value="Desmarque">Desmarque</option>
                        <option value="Tiro">Tiro</option>
                        <option value="Centro">Centro</option>
                        <option value="Remate">Remate</option>
                        <option value="sc">Sin contenido</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="contenidoTactico" class="form-label">Contenido Táctico:</label>
                    <select id="contenidoTactico" th:field="*{contenidoTactico}" class="form-select" required>
                        <option value="Ataque">Ataque</option>
                        <option value="Defensa">Defensa</option>
                        <option value="Transicion_Ofensiva">Transición Ofensiva</option>
                        <option value="Transicion_Defensiva">Transición Defensiva</option>
                        <option value="sc">Sin contenido</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Guardar Sesión</button>
                </div>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <div th:insert="~{footer :: footer}"></div>
    </footer>
</body>

</html>
